.ui-component-index-margin {
  margin-left: 0.5rem;
}
.ui-component-edit-margin {
  margin-left: 0.5rem;
}
.ui-component-index-table-wrapper {
  margin-left: 1rem;
  width: 100%;
  box-sizing: border-box;
}
.ui-component-index-margin-right {
  margin-right: 0.5rem;
}
.ui-component-table-header {
  --kuc-table-header-font-size: '16px';
  --kuc-table-header-1-width: 14rem;
  --kuc-table-header-2-width: 8rem;
  --kuc-table-header-3-width: 8rem;
  --kuc-table-header-4-width: 7rem;
  --kuc-table-header-5-width: 20rem;
  --kuc-table-header-6-width: 14rem;
}
.ui-component-button-small {
  --kuc-button-width: 6rem;
  --kuc-button-height: 2.6rem;
}
#my-customized-view table th {
  font-weight: 500;
  border: solid 1px #eee;
}
#my-customized-view table td {
  background: #efefef;
}
#my-customized-view table tr:nth-child(odd) td {
  background: #fff;
}
